#navbar {
    position: absolute;
    top: 30px;
    left: 5%;
}

.logo {
    width: max-content;
    color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 300;
}